.container {
    display: flex;
    height: 100vh;
    background: linear-gradient(135deg, #180c29, #241744);
}

@media (max-width: 768px) {
    .container{
        padding: 8px;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 6px;
        display: flex;
            flex-direction: column;
            
    }
}