.balance {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 73px 12px 32px;
  border-radius: 8px;
  backdrop-filter: blur(100px);
box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
background: rgba(82, 59, 126, 0.6);
}


.label {
  font-family: "Poppins", sans-serif;;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  opacity: 0.5;
}


.amount {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;
  margin: 0;
}